@import "vars"

/*==========  Desktop First  ==========*/
@media only screen and (max-width : 1366px)
	.nav-pills
		top: 0px

	.last-list
		right: 32px

	.nav li
		.category,
		.reader,
		.events
			margin-top: 8px
			margin-bottom: 5px



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.wrapper-page
		width: 100%
		margin-left: 20px
		margin-right: 20px
	.colontitul
		.name-rubrik
			padding-left: 20px

	#tovar,
	#semena,
	#szr,
	#zhiv,
	#uslugi,
	#tehnika,
	#oborudovanie,
	#zapchasti,
	#raznoe,
	#new,
	#stati,
	#events
		margin-left: 29px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.line
		width: 30%
		img
			width: 20%
			height: 6px

	#szr,
	#oborudovanie,
	#uslugi,
	#zhiv,
	#agrosobitie,
	#agroobzor,
	#videoobzor
		.colontitul
			.name-rubrik
				font-size: 18px
	
	#agroobzor,
	#agrosobitie,
	#uslugi,
	#zhiv,
	#szr,
	#oborudovanie,
	#agrovopros,
	#contacts,
	#navigation,
	#reader-page
		.colontitul
			.logo-nomer
				width: 22%
		.line
			width: 24%
			margin-top: 5px
			img
				width: 20%
			.nomer
				font-size: 18px

	#new
		.colontitul
			.logo-nomer
				width: 22%
		.line
			width: 24%
			margin-top: 5px
			img
				width: 32%
			.nomer
				font-size: 18px

	.mobile-menu
		display: block

	.wrapper-np
		margin-top: 100px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	#reader-page
		.col-sm-6
			.review
				padding: 12px 30px

	.social
		.col-sm-10
			padding-left: 15px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.newspaper
		h1
			font-size: 32px
			padding: 0px !important
			margin: 0px !important

	.colontitul .logo-nomer
		display: none

	.wrapper-page
		margin-left: 0px
		// .line
		// 	float: right
		// 	width: 50%

	#tovar,
	#semena,
	#szr,
	#zhiv,
	#uslugi,
	#tehnika,
	#oborudovanie,
	#zapchasti,
	#raznoe,
	#new,
	#stati,
	#events
		margin-left: 0px

	#agro-1,
	#agrosobitie1,
	#stati
		.wrapper,
		.wrapper1
			padding: .4em 20px
			margin-top: 0px
			font-size: 18px
		.wrapper1
			width: 90%
			margin-bottom: 15px

	.new-number
		.col-sm-2
			img
				margin-top: 16px

	.home-news
		width: auto
		height: 200px
		padding: 0px
		margin: 0px
		h3
			margin-top: 0px
			padding: 20px

	#agro
		.row
			margin-top: 0px
			padding: 10px

	#videoobzor
		.wrapper-page
			background-color: #fff
			background-image: none
		.sec1-video
			margin-top: 0px
			padding: 0 0 10px
			h2
				margin-top: 15px !important
				margin-bottom: 15px !important
				font-size: 18px
			.col-sm-12
				iframe
					width: 100%
		.col-video,
		.col2-video
			padding: 0 40px	

	.bg-contacts
		width: 95%
		margin-top: 20px

	.contacts-colum
		margin-top: 0px

	#footer-maps
		h3
			margin-top: 0px
		#map
			margin-top: 10px
			height: 200px

	.text1-page-reader
		h3
			margin-top: 0px

	.agro-link 
		ul
			li
				padding: 5px 0px
				a
					font-size: 14px

	#semena,
	#events,
	#reader
		margin-top: 15px
		h1
			font-size: 30px
		h2
			margin-top: 10px !important
			margin-bottom: 20px !important

	.name-rubrik
		width: 60%
		padding-left: 7px !important
	
	.line
		width: 39% !important
		margin-left: 0% !important
		margin-right: 0px !important
		margin-top: 0px !important
		img
			height: 4px !important
		.nomer
			font-size: 15px !important
			margin-top: 2px !important

	.colontitul .name-rubrik
		font-size: 15px !important

	.colontitul
		height: 30px

	#new
		.colontitul .name-rubrik
				width: 70%
		.line
			width: 28% !important
			img
				display: none
		h2
			font-size: 26px

	select#ddmenu_name
		margin-bottom: 0px

	.title-events
		a
			font-size: 14px

	.in-events
		padding-left: 0px

	.new-number
		.col-xs-12
			padding-bottom: 0px
			padding-top: 10px

	.home-news
		h3
			a
				font-size: 20px

	#agro
		.row
			.col-sm-10
				padding-bottom: 0px
				a
					font-size: 14px

	.social .col-sm-10
		padding-left: 32px

	.contacts-colum
		margin-left: 0px !important

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

