@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.wrapper-page
		width: 100%
		margin-left: 20px
		margin-right: 20px
	.colontitul
		.name-rubrik
			padding-left: 20px


	.ul.nav-pills
		top: 10px

	#tovar,
	#semena,
	#szr,
	#zhiv,
	#uslugi,
	#tehnika,
	#oborudovanie,
	#zapchasti,
	#raznoe,
	#new,
	#stati,
	#events
		margin-left: 29px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.line
		width: 30%
		img
			width: 20%
			height: 6px

	#szr,
	#oborudovanie,
	#uslugi,
	#zhiv,
	#agrosobitie,
	#agroobzor,
	#videoobzor
		.colontitul
			.name-rubrik
				font-size: 18px
	
	#agroobzor,
	#agrosobitie,
	#uslugi,
	#zhiv,
	#szr,
	#oborudovanie,
	#agrovopros,
	#contacts,
	#navigation,
	#reader-page
		.colontitul
			.logo-nomer
				width: 22%
		.line
			width: 24%
			margin-top: 5px
			img
				width: 20%
			.nomer
				font-size: 18px

	#new
		.colontitul
			.logo-nomer
				width: 22%
		.line
			width: 24%
			margin-top: 5px
			img
				width: 32%
			.nomer
				font-size: 18px

	.mobile-menu
		display: block

	.wrapper-np
		margin-top: 100px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	#reader-page
		.col-sm-6
			.review
				padding: 12px 30px

	.social
		.col-sm-10
			padding-left: 15px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.newspaper
		h1
			font-size: 32px
			padding: 0px !important
			margin: 0px !important

	.colontitul .name-rubrik
		padding-left: 10px
		font-size: 18px !important


	.colontitul .logo-nomer
		display: none

	.wrapper-page
		margin-left: 0px
		.line
			float: right
			width: 50%

	.colontitul .nomer
		font-size: 18px

	#tovar,
	#semena,
	#szr,
	#zhiv,
	#uslugi,
	#tehnika,
	#oborudovanie,
	#zapchasti,
	#raznoe,
	#new,
	#stati,
	#events
		margin-left: 0px
		.line
			width: 35%
			margin-top: -2px

	#agro-1,
	#agrosobitie1,
	#stati
		.wrapper
			padding: .4em 20px
			margin-top: 0px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

