@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	background-color: #ece8e8

.img-responsive
	display: block
	max-width: 100%
	height: auto

.download
  	padding-top: 50px

.arhiv
  	padding-top: 20px

.btn-success:hover
  	background: rgba(92, 184, 92, 0.63) !important

.btn-danger:hover
	background: rgba(251, 27, 27, 0.7) !important

.container
  -webkit-box-shadow: 0px 4px 29px 9px rgba(0,0,0,0.75)
  -moz-box-shadow: 0px 4px 29px 9px rgba(0,0,0,0.75)
  box-shadow: 0px 4px 29px 9px rgba(0,0,0,0.75)

.wrapper-np
  background: #565656

  img
  padding: 0 100px

.wrapper-np h2
  color: #FFF
  padding-top: 50px
  padding-bottom: 50px
  font-size: 42px
  text-transform: uppercase

.nav-pills .logo
  padding-bottom: 100px


@import "media" // Всегда в конце
